html {
    margin: 0;
    padding: 0;
    background-color: #04111a;
}

p {
    width: 350px;
    border: 2px solid;
    padding: 50px;
    color: #bffffa;
    border-radius: 20px;
    box-shadow: 0 0 1px #18c8d5, 0 0 2px #18c8d5, 0 0 6px #18c8d5,
                0 0 12px #18c8d5, inset 0 0 1px #18c8d5, inset 0 0 2px #18c8d5,
                inset 0 0 6px #18c8d5, inset 0 0 12px #18c8d5;
}

.form input[type=text],
.form input[type=password] {
    width: 300px;
    padding: 15px 25px;
    margin: 8px auto;
    font-size: 15px;
    border-radius: 10px;
    background-color: transparent;
    color: #b060c3;
    border: 2px solid #ffc9ff;
    box-shadow: 0 0 1px #b060c3, 0 0 2px #b060c3, 0 0 6px #b060c3,
                0 0 12px #b060c3, inset 0 0 1px #b060c3, inset 0 0 2px #b060c3,
                inset 0 0 6px #b060c3, inset 0 0 12px #b060c3;
}

.form input[type=text]::-webkit-input-placeholder {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

.form input[type=text]:focus::-webkit-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

.form input[type=password]::-webkit-input-placeholder {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

.form input[type=password]:focus::-webkit-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

.form input::-webkit-input-placeholder {
    color: #b060c3;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form input[type=button] {
    width: 355px;
    padding: 18px 5px;
    margin: 20px auto;
    font-size: 15px;
    color: #ca2069;
    border: 2px solid #ffc9ff;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 1px #ca2069, 0 0 2px #ca2069, 0 0 6px #ca2069,
                0 0 12px #ca2069, inset 0 0 1px #ca2069, inset 0 0 2px #ca2069,
                inset 0 0 6px #ca2069, inset 0 0 12px #ca2069;
    }

.form input[type=text]:hover,
.form input[type=password]:hover,
.form input[type=button]:hover {
    border-color: #333;
}